---
import Layout from "../layouts/Base.astro";
---

<Layout title="Manual">
  <main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">Astro Van Info</h1>
        <p class="text-2xl my-8">
          A website about all things
          <b class="text-green-600 dark:text-green-400">Astro Van!</b>
        </p>
        <a
          href="/docs/get-started/introduction"
          class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
        >
          GO TO DOCS
        </a>
        <a
          href="/blog/hello-world"
          class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
        >
          GO TO BLOG
        </a>
      </div>
    </div>
  </main>
</Layout>
